*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body{
    color: #b3b3b3;
    font-family: 'Roboto', sans-serif;
    background-color: lightgreen;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.text-uppercase{
    text-transform: uppercase;
}

.side-bar-text{
    display: none;
}

/* ________________________ Main ________________________ */

main{
    display: flex;
}

/* ________________________ Side Bar ________________________ */
.side-bar{
    width: 80px;
    height: calc(100vh - 90px);
    background-color: #040404;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px 16px 16px;
}

.side-bar-link{
    display: inline-block;
    color: #b3b3b3;
    font-weight: 500;
    line-height: 40px;
    width: 100%;
    border-radius: 4px;
    padding: 0;
    text-align: center;
}

.side-bar-link:hover {
    color: white;
}

.side-bar-link:focus{
    color: white;
}

.side-bar i{
    margin-right: 0;
    font-size: 20px;
}

.top-side-bar{
    display: flex;
    flex-direction: column;
}

/******************* Logo *******************/
.logo-container{
    margin-bottom: 18px;
}

#big-logo{
    max-width: 130px;
    display: none;
}
#small-logo{
    max-width: 40px;
    display: block;
}

/******************* Top Menu *******************/

.top-menu-li .side-bar-link:focus{
    color: white;
    background-color: #282828;
}

/******************* Music Menu *******************/
.music-menu{
    margin-top: 15px;
    overflow: hidden;
}

/******************* Login and Download *******************/
.login-and-download{
    width: 100%;
}

.download-link{
    border-bottom: 1px solid #b3b3b3;
}

/* ________________________ Main Window ________________________ */
.content-window{
    width: calc(100vw - 80px);
    background-color: #121212;
}





/* ________________________ Footer ________________________ */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    background-color: #282828;
    padding: 0px 16px;
    border-top: 1px solid black;
}

/******************* Song Info *******************/
.song-info{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 250px;
}

.artwork-container img{
    width: 56px;
}

.song-title{
    color: white;
}

.artist{
    color: #b3b3b3;
    font-size: 12px;
}

.artist:hover{
    color: white;
    text-decoration: underline;
}

.heart-container {
    display: flex;
}

.heart-container a{
    color: #b3b3b3;
    margin: auto;
}

.heart-container a:hover{
    color: white;
}


/******************* Player *******************/
.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.player-buttons{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b3b3b3;
}

.player-btn:hover{
    color: white;
    cursor: pointer;
}

.fa-pause-circle{
    font-size: 30px;
}

.song-time{
    width: 100%;
    text-align: center;
}

.song-time::before{
    content: "2:06";
    margin-right: 10px;
}

.song-time::after{
    content: "4:12";
    margin-left: 10px;
}

.song-time::before,
.song-time::after{
    font-size: 10px;

}

#time{
    -webkit-appearance: none;
    width: 80%;
    height: 3px;
    background-color: #535353;
}

#time::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: none;
  background: #1db954;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
}

#time:focus{
    outline: none;
}

/******************* Volume*******************/
.other-controls{
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.volume-container{
    display: flex;
    align-items: center;
}

.volume-container::before{
    content: "\f028";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-right: 15px;
}

#volume{
    -webkit-appearance: none;
    height: 3px;
    width: 80px;
    background-color: #535353;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: none;
  background: #1db954;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
}

#volume:focus{
    outline: none;
}





















/******************* Media Query*******************/
@media screen and (min-width: 768px) {

    .side-bar{
        width: 232px;
        align-items: baseline;
        padding-left: 24px;
    }

    .side-bar-link{
        text-align: left;
    }

    .content-window{
        width: calc(100vw - 232px);
    }

    .side-bar-text{
        display: inline-block;
    }

    .side-bar i{
        margin-right: 15px;
    }

    #big-logo{
        max-width: 130px;
        display: block;
    }
    #small-logo{
        max-width: 40px;
        display: none;
    }

}
